
@*My*@

                              <div class="row clearfix my_gd">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                                <input type="text" id="tName" class=" form-control mandatory" maxlength="60" autocomplete="off" />
                                        </div>
                                    </div>
                                       
                                      
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Code</label>
                                                    <input type="text" class="mandatory form-control" id="tCode" autocomplete="off" />
                                                

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">AltName</label>
                                                    <input type="text" class=" form-control" placeholder="" id="tAltname" autocomplete="off">
            
                                            </div>
                                        </div>
                                       
                            @*    </div>*@
