<style>

    /*.table-responsive {
                height: 80vh;*/ /* Just for the demo          */
    /*overflow-y: auto;*/ /* Trigger vertical scroll    */
    /*overflow-x: hidden;*/ /* Hide the horizontal scroll */
    /*}*/
    #GetMasterList .modal-body {
        /* top: 350px;*/
        /*height: 80vh;*/
        height: 65vh;
        /* width:100%;*/
        /*overflow-y: auto;*/
    }


    #GetMasterList .modal-dialog {
        top: 40px;
        max-width: 800px; /* New width for default modal */
    }

    #GetMasterList .modal {
        top: 350px;
    }

    #ViewsUserType {
        border-radius: 25px;
        border: 1px solid #D3D3D3;
        /*  padding: 20px;*/
        /*  width: 200px;
            height: 150px;*/
    }


    /*input[type=text], textarea {*/
    /*border-style: inset;*/
    /*border-width: 2px;
        }*/
</style>




<section class="content mt-60" style="margin-top: 60px !important;">
    <div class="block-header" style="padding-bottom: 0px;">
        <div class="row" style="height: 45px;">
            <div class="col-lg-3">
                <h2>
                    Role
                    <input type="hidden" id="api" class="form-control" name="iId" value="@ViewBag.api" />
                    <input type="hidden" id="hdn_SessionUID" value="@ViewBag.UID" />
                    <input type="hidden" id="hdn_SessionUName" value="@ViewBag.Uname" />
                    <input type="hidden" id="hdn_iId" />

                </h2>
            </div>
            <div class="col-lg-8 js-sweetalert">
                @*style="align-self:auto"*@ @*style="position: absolute; right: 0;*@
                <ul class="abs" style="list-style: none; display: -webkit-box; position: absolute; right: 19px;">
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnNew">
                            <i class="zmdi zmdi-plus"></i> New
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnSummaryEdit">
                            <i class="zmdi zmdi-save"></i> Edit
                        </button>
                    </li>
                    @**@
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" data-type="confirm" id="btnSummaryDelete">
                            <i class="zmdi zmdi-delete"></i> Delete
                        </button>
                    </li>
                    @*
                    <li>
                    <button class="btn btn-primary btn-round btn-sm">
                    <i class="zmdi zmdi-shuffle"></i> Suspend
                    </button>
                    </li>*@
                    @*
                    <li>
                    <button class="btn btn-primary btn-round btn-sm">
                    <i class="zmdi zmdi-print"></i> Print
                    </button>
                    </li>*@
                    @*
                    <li>
                    <button class="btn btn-primary btn-round btn-sm" data-type="success">
                    <i class="zmdi zmdi-check"></i> Approve
                    </button>
                    </li>*@
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnClose">
                            <i class="zmdi zmdi-close"></i> close
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1">
                <!-- <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> </a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Financials</a></li>
                    <li class="breadcrumb-item active">Goods Reciept Note</li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="container-fluid">



        @*//new*@
        @*<div class="row clearfix">
        <div class="col-12">
        <div class="card my_card" style="margin-bottom: 0px !important;">
        <div class="card-body" style="padding: 0px;">
        <div class="row clearfix">
        <div class="col-lg-12">
        <div class="card" style="margin-bottom: 0px !important;">
        <div class="body">
        *@
        <div class="row clearfix" style="margin-top: -10px;">
            <div class="col-12">
                <div class="card my_card">
                    <h5 class="card-header my_card_hd">
                        @*<a data-toggle="collapse" href="#collapse-example3" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block my_col">
                        <i class="fa zmdi zmdi-chevron-down"></i>
                        </a>*@
                    </h5>
                    <div id="collapse-example3" aria-labelledby="heading-example">
                        @*class="collapse show"*@
                        <div class="card-body ptX0">
                            <div class="row clearfix">
                                <div class="table-responsive">
                                    @*class="table-responsive"*@
                                    <table align="center" class="table js-basic-example dataTable" id="uersummaryTable">
                                        @*style="height:100px;max-width:2000px"*@
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>RoleName</th>
                                                <th>CreatedBy</th>
                                                <th>CreatedDate</th>

                                            </tr>
                                        </thead>
                                        <tbody id="binddataUserSummary">
                                            @*class="gd_tab"*@

                                            @*
                                            <tr>
                                            <td>2</td>
                                            <td>29-07-2021</td>
                                            <td>Akshay</td>
                                            <td>29-07-2021</td>
                                            <td>Sang</td>
                                            <td>17-05-2021</td>
                                            <td>
                                            <p class="text-danger">Pending</p>
                                            </td>
                                            </tr>*@

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*
        </div>
        </div>*@
        @*<div class="row clearfix sang_footer">
        <div class="col-lg-12">
        <div class="card">
        <div class="body">
        <p class="m-b-0">© 2021 Designed & Developed By <a href="#" target="black"><b>Sang Solutions</b></a> </p>
        </div>
        </div>
        </div>
        </div>*@
    </div>
</section>

<div class="modal" id="GetMasterList" tabindex="-1" role="dialog">
    @*id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">*@
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @* <div style="text-align-last: right;"> </div>*@
            @*style="width:max-content"*@
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="title" id="largeModalLabel"> Role Details</h4>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" id="btnClosePopup" style="min-height:8px;position: absolute; left: 520px;margin-top: -15px;width:20%">Close</button>
                        <button type="button" class="btn btn-primary" id="btnPost" style="min-height:8px;position: absolute; left: 608px;margin-top: -15px;width:20%">Save</button>
                        <button type="button" class="btn btn-info" id="btnNewPopup" style="min-height:8px;position: absolute; left: 695px;margin-top: -15px;width:20%">New</button>
                    </div>
                </div>
            </div>
            <!--<div id="PopUpsearch">
            </div>-->
            @*class="form-group"*@

            <div class="modal-body modal-scroll-stl" id="modal-bodyPopUp">


                <div class="row clearfix my_gd">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" id="txtname" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="row clearfix my_gd">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @*<label for="">Email</label>
                            <input type="text" id="txtemail" class="form-control" autocomplete="off" />*@

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="letter lbl-date-stl">Screens</label>
                        @* <input type="text" class="form-control " id="tweeklyOff">*@
                        <div id="ViewsEntitydatas" style="width:200%;max-height:230px;min-height:40px;display:block;border:1px solid;">


                            @*<input class="letter form-control inpt-stl-stl" type="text" id="Role" onfocus="DataloadMaster_dropdown('#Role', '/Ducon/GetAutoCompleteRole')" />
                            <input type="hidden" id="Role-id" />*@

                        </div>
                    </div>
                </div>




            </div>


        </div>
    </div>
    @*
    </div>*@


</div> @*modal-body*@
@*<div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" id="btnClosePopup" style="min-height:8px">Close</button>
        <button type="button" class="btn btn-primary" id="btnPostOutlet">Save</button>
        <button type="button" class="btn btn-info" id="btnNewPopup">New</button>
    </div>*@




<div class="modal" id="modal-DeleteConfirm" role="dialog" style="padding-top:200px;padding-left:200px">
    <div class="modal-dialog modal-lg" style="width:300px;">
        <div class="modal-content" style="width:300px;">
            <div class="modal-body">
                <button Type="button" class="close align-content-end" id="btnclosede">&times;</button>

                <div class="row">
                    <div class="col-md-12">
                        <label for="msg"></label>
                    </div>

                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button id="btnyes" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">Yes</button>
                @*<button type="button" id="btnyes1" class="btn btn-default letter" style="background-color:darkgray;color:white">Yes</button>
                <button type="button" id="btnyes2" class="btn btn-default letter" style="background-color:darkgray;color:white">Yes</button>*@
                <button id="btnno" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">No</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal" id="select_modal" role="dialog" style="padding-top:200px;padding-left:200px">
    <div class="modal-dialog modal-lg" style="width:300px;">
        <div class="modal-content" style="width:300px;">
            <div class="modal-body">
                <button Type="button" class="close align-content-end" id="btncls">&times;</button>

                <div class="row">
                    <div class="col-md-12">
                        <label for="msg"></label>
                    </div>

                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button id="btnok" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{

    <script src="~/Sang_solutions/light/assets/js/pages/tables/jquery-datatable.js"></script>
    @*
        <script src="~/Sang_solutions/light/assets/bundles/libscripts.bundle.js"></script>*@
    <script src="~/Sang_solutions/light/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/Sang_solutions/assets/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/Sang_solutions/light/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/Sang_solutions/light/assets/js/pages/ui/sortable-nestable.js"></script>
    <script src="~/Sang_solutions/light/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/Sang_solutions/light/assets/bundles/datatablescripts.bundle.js"></script>

    <link href="~/Content/plugins/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    @*<script src="~/js/Scripts/CustomScripts/RoleSummary.js"></script>*@

    <script src="~/js/Scripts/CustomScripts/RoleSummary.js"></script>
    <script src="~/js/Scripts/CustomScripts/AutoComplete.js"></script>

}