@model VanSale.ViewModels.DetailsViewModel
<section class="content mt-60" style="margin-top: 60px !important;background-color:white">

   @* <input type="hidden" id="api" class="form-control" name="iId" value="@ViewBag.api" />*@
    <input type="hidden" id="hdn_SessionUID" value="@Model.uId" />
    <input type="hidden" id="hdn_SessionUName" value="@Model.uName" />
    <input type="hidden" id="hdn_MenuId" value="@Model.menuId" />
    <input type="hidden" id="hdn_iId" value="0" />

    <div class="block-header" style="padding-bottom: 0px; ">
        <div class="row" style="height: 45px;">
            <div class="col-lg-6">
                <h2>
                    WareHouse
                   
                </h2>
            </div>
            <div class="col-lg-6 js-sweetalert">
                @*style="align-self:auto"*@ @*style="position: absolute; right: 0;*@
                <ul class="abs" id="MenuBtns" style="list-style: none; display: -webkit-box; position: absolute; right: 193px;">
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnNew">
                            <i class="zmdi zmdi-plus"></i> New
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnGroup">
                            <i class="zmdi zmdi-plus"></i>  Group
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnNewGroup">
                            <i class="zmdi zmdi-plus"></i> Add Group
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnExport">
                            <i class="zmdi zmdi-print"></i> Export
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnSummaryEdit">
                            <i class="zmdi zmdi-edit"></i> Edit
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnProperty">
                            <i class="zmdi zmdi-view-list"></i>Property
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-round btn-sm" data-type="confirm" id="btnDelete">
                            <i class="zmdi zmdi-delete"></i> Delete
                        </button>
                    </li>

                    <li>
                        <button class="btn btn-primary btn-round btn-sm" id="btnClose">
                            <i class="zmdi zmdi-close"></i> Close
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-12">
                <div class="card my_card">
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin-top: -20px;">
            <div class="col-12">
            </div>
        </div>

        <div class="row clearfix" style="margin-top: -20px;">
            <div class="col-3">
                <div class="card my_card" id="treeViewdiv">
                </div>
            </div>
            <div class="col-9">
                <div class="card my_card">
                    <h6 class="card-header my_card_hd" id="treeUrl">
                        <a id="pathLink" href="#" target="_blank" style="color:black"></a>
                    </h6>
                    <div id="collapse-example3" aria-labelledby="heading-example">
                        @*class="collapse show"*@
                        <div class="card-body ptX0">
                            <div class="row clearfix">

                                <div class="table-responsive">

                                    <table align="center" class="table js-basic-example dataTable " id="wareHouseSummaryTable">

                                        <thead>
                                            <tr>
                                                <th></th>
                                                @*<th>Date</th>*@
                                                <th> Name</th>
                                                <th>Code</th>
                                                <th>AltName</th>

                                                @*   <th>Status</th>
                                                <th>DeActivatedOn</th>*@

                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="modal" id="WarHousePopup" tabindex="-1" role="dialog">
    
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div style="text-align-last: right;">
            </div>
            @*style="width:max-content"*@
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="title" id="largeModalLabel">WareHouse Details</h4>
                    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" id="btnClosePopup" style="min-height:8px;position: absolute; left: 560px;margin-top: -15px;width:20%">Close</button>
                    <button type="button" class="btn btn-primary " id="btnPostPopup" style="min-height:8px;position: absolute; left: 670px;margin-top: -15px;width:20%">Save</button>
                    <button type="button" class="btn btn-info" id="btnNewPopup" style="min-height:8px;position: absolute; left: 780px;margin-top: -15px;width:20%">New</button>
                </div>
            </div>
            <div id="PopUpsearch">
            </div> 

            <div class="modal-body modal-scroll-stl" id="modal-bodyPopUp">
               
                <div class="row clearfix my_gd">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" id="sName" class="mandatory form-control" maxlength="60" autocomplete="off" /> 
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Code</label>
                            <input type="text" id="sCode" class="mandatory form-control" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">AltName</label>
                            <input type="text" id="sAltname" class="  form-control" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for=""><b>SalesMan</b></label>
                            <input class=" mandatory form-control " type="text" id="sSalesman" placeholder="--Select--" onfocus="DataloadMaster('#sSalesman','/Master/GetAutoComplete','GetCustomer')" />
                            <input type="hidden" id="sSalesman-id" value="" /> @*onchange="getFocusCode()"*@

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for=""><b>Location</b></label>
                            <input class=" mandatory form-control " type="text" id="sLocation" placeholder="--Select--"  onfocus="DataloadMaster('#sLocation','/Master/GetAutoComplete','GetLocation')" />
                            <input type="hidden" id="sLocation-id" value="" />

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Vehicle Number</label>
                            <input type="text" id="sVnumber" class="form-control" autocomplete="off" oninput="this.value = this.value.slice(0, 10)" />

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for=""><b>Company</b></label>
                            <input class=" mandatory form-control " type="text" id="sCompany" placeholder="--Select--" onfocus="DataloadMaster('#sCompany','/Master/GetAutoComplete','GetCompany')" />
                            <input type="hidden" id="sCompany-id" value="" /> 

                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">DueDate</label>
                            <input type="date" id="sDuedate" class="  form-control" autocomplete="off" />

                        </div>
                    </div>

                    <div class="col-sm-4" hidden>
                        <div class="form-group">

                            <span></span>
                            <br />
                            <label class="form-check-label" for="bGroup">Group</label>

                            <div class="form-check form-check-inline">
                                <input type="hidden" class="form-check-input ml-2" id="bGroup" value="false">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for=""><b>Parent</b></label>
                            <input class="form-control " type="text" id="sParent"   placeholder="--Select--" onfocus="DataloadMaster('#sParent','/Master/GetAutoComplete','GetParentWareHouse')" />
                            <input type="hidden" id="sParent-id" value="0" /> @*onchange="getFocusCode()"*@

                        </div>
                    </div>

                </div>


            </div> 
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
@*Not Used*@


<div class="modal" id="property_modal" role="dialog" style="padding-top:200px;padding-left:200px">
    <div class="modal-dialog modal-lg" style="width:300px;">
        <div class="modal-content" style="width:300px;">
            <div class="modal-body">
                <button Type="button" class="close align-content-end" id="btnclss" data-dismiss="modal">&times;</button>

                <div class="row">
                    <div class="col-md-12">
                        <label for="msg">
                            Choose Property
                        </label>
                    </div>

                </div>
                <div class="row" style="padding:10px">
                    <div class="col-md-6">
                        <input type="radio" name="prop" id="active" value="1" style="margin-top: 15px;" checked />
                        <label style="padding: 10px;">Active</label>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="prop" id="inactive" value="2" style="margin-top: 15px;" />
                        <label style="padding: 10px;">Inactive</label>

                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button id="btnPSave" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">Save</button>
            </div>
        </div>

    </div>

</div>


<div class="modal" id="modal-DeleteConfirm" role="dialog" style="padding-top:200px;padding-left:200px">
    <div class="modal-dialog modal-lg" style="width:300px;">
        <div class="modal-content" style="width:300px;">
            <div class="modal-body">
                <button Type="button" class="close align-content-end" id="btnclosede">&times;</button>

                <div class="row">
                    <div class="col-md-12">
                        <label for="msg"></label>
                    </div>

                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button id="btnyes" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">Yes</button>
                @*<button type="button" id="btnyes1" class="btn btn-default letter" style="background-color:darkgray;color:white">Yes</button>
                <button type="button" id="btnyes2" class="btn btn-default letter" style="background-color:darkgray;color:white">Yes</button>*@
                <button id="btnno" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal" id="select_modal" role="dialog" style="padding-top:200px;padding-left:200px">
    <div class="modal-dialog modal-lg" style="width:300px;">
        <div class="modal-content" style="width:300px;">
            <div class="modal-body">
                <button Type="button" class="close align-content-end" id="btncls">&times;</button>

                <div class="row">
                    <div class="col-md-12">
                        <label for="msg"></label>
                    </div>

                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button id="btnok" class="btn btn-primary btn-round btn-sm" style="background-color:darkgray;color:white">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{

    <script src="~/Sang_solutions/light/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/Sang_solutions/assets/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/Sang_solutions/light/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/Sang_solutions/light/assets/js/pages/ui/sortable-nestable.js"></script>
    <script src="~/Sang_solutions/light/assets/css/main.css"></script>
    <script src="~/Sang_solutions/light/assets/bundles/datatablescripts.bundle.js"></script>
    <link href="~/Content/plugins/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/Scripts/CustomScripts/AutoComplete.js" asp-append-version="true"></script>
    <script src="~/js/Scripts/CustomScripts/masters/Home.js" asp-append-version="true"></script>
    <script src="~/js/Scripts/CustomScripts/TreeView.js"></script>


}